h1
{
    text-align: center;
}
form
{
    text-align: center;
}
input
{
    text-align: center;
}
body
{
    background-color:rgba(199, 145, 238, 0.965);
}
h1
{
    color: rgb(105, 0, 79);
}
h3
{
    color: rgb(105, 0, 79);
}
label
{
    color:rgb(133, 3, 29);
}
#imagen
{
    position: relative;
    left: 33% ;
}